{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles/index.css"> -->
    <style></style>
</head>

<body>

    <head>
        <title>Hello World - First CGI Program</title>
    </head>
    <main>

        <!-- <body>
        <h2>Start Directery</h2>
        <ol>
            <li><a href="{x}">{x}</a></li>
            <li><a href="{x}">{x}</a></li>
        </ol>
        <h2>End Directery</h2> -->

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                {% render_field form.name %}
            </div>

            <div>
                {% render_field form.image %}
            </div>

            <input type="submit" name="submit" value="submit">
        </form>
    </main>

</body>

</html>

</body>

</html>